<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title"><%= month_day_comma_year(comment.created_at) %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= t 'comments.index.commenter' %> <%= comment.user.email %></h6>
    <p class="card-text"><%= comment.body %></p>
    <%= link_to t('app.button.destroy'), article_comment_path(@article, comment), class: 'btn btn-danger', 
      data: { turbo_method: :delete, turbo_confirm: t('app.message.confirm_destroy') } if policy(comment).destroy? %>
  </div>
</div>