<%= simple_form_for [@article, @article.comments.build] do |f| %>
  <div class="form-inputs">
    <%= f.input :body, input_html: { rows: 10 } %>
  </div>
  <div class="form-action">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>