<div class="p-4 ">
  <h4 class="font-italic"><%= t('articles.archives') %></h4>
  <ol class="list-unstyled mb-0">
    <% @archieves.each do |month_year, count| %>
      <li>
        <%= link_to "#{month_year.capitalize} (#{count})", articles_path(month_year: month_year), 
          class: "text-muted #{'filter-active' if month_year == params[:month_year]}" %>
      </li>
      <% end %>

  </ol>
</div>



