<div class="blog-post">
  <h2 class="blog-post-title"><%= article.title %></h2>
  <p class="blog-post-meta">
    <%= render 'article_detail', article: article %>
  </p>
  <p><%= truncate(article.body, length: 150) %></p>

  <p><%= link_to t('articles.continue_reading'), article, class: 'btn btn-link' %></p>

  <div class="d-flex">
    <%= link_to t('app.button.edit'), edit_article_path(article), class: 'btn btn-primary mr-2' if policy(article).update? %>
    <%= button_to t('app.button.destroy'), article, method: 'delete', class: "btn btn-danger" if policy(article).destroy? %>
  </div>
</div>
