<div class="p-3">
  <h4 class="font-italic"><%= t('articles.elsewhere') %></h4>
  <ol class="list-unstyled">
    <li><a href="https://www.github.com/MatheusTrinca" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/matheus-trinca/">Linkedin</a></li>
  </ol>
</div>