<%= simple_form_for article, data: { turbo: false } do |form| %>

  <%= form.input :title %>
  <%= form.input :body, input_html: {rows: 10} %>
  <%= form.association :category, collection: @categories, prompt: t('article.form.choose_category') %>

  <br/>

  <p>
    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= link_to t('app.button.back'), root_path, class: 'btn btn-secondary' %>
  </p>

<% end %>