<div class="col-md-6">
  <div class="card flex-md-row mb-4 box-shadow h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class='d-inline-block mb-2 text-primary'>
        <%= article.category.name %>
      </strong>
      <h3 class="mb-0">
        <a class="text-dark" href="#"><%= article.title %></a>
        
      </h3>
      <div class="mb-1 text-muted">
        <%= month_day_comma_year(article.created_at) %> by 
        <%= article.user.email %>
      </div>
      <p class="card-text mb-auto">
        <%= truncate(article.body, length: 100) %>
      </p>
      <%= link_to t('articles.continue_reading'), article, class: 'stretched-link' %>
    </div>
  </div>
</div>
