<nav class="blog-pagination">
  <%= link_to_next_page @articles, t('app.pagination.older'), class:"btn btn-outline-primary" %>
  <%= link_to_prev_page @articles, t('app.pagination.newer'), class:"btn btn-outline-primary" %>
</nav>