<%= render_if @highlights[0].present?, 'longer_featured', article: @highlights[0] %>

<div class="row mb-2">
  <%= render_if @highlights[1].present?, 'medium_featured', article: @highlights[1] %>
  <%= render_if @highlights[2].present?, 'medium_featured', article: @highlights[2] %>
</div>

<div class="row g-5">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 font-italic border-bottom">
      <%= t('.subtitle') %>
    </h3>

    <p>
      <%= link_to t('.new_article'), new_article_path, class: 'btn btn-success' if user_signed_in? %>  
    </p>

    <%# <% @articles.each do |article| %>
      <%# <%= render article %>
    <%# <% end %> 

    <%# Porque tem o mesmo nome "articles / _article" %>

    <%= render @articles %>

    <%= render 'pagination' %>
  </div>

  <%= render 'right_side' %>

<div>

<% content_for :category_filter do %>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <% @categories.each do |category| %>
        <%= link_to category.name, articles_path(category: category.name), 
          class: "p-2 text-muted #{'filter-active' if category.name.to_s == params[:category]}" %>
      <% end %>
    </nav>
  </div>
<% end %>