<div class="blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>
  <p class="blog-post-meta">
    <%= render 'article_detail', article: @article %>
  </p>
  <p><%= truncate(@article.body, length: 150) %></p>

  <%= link_to t('.continue_reading'), @article, class: 'btn btn-link' %> 

  <div class="d-flex">
    <%= link_to t('app.button.edits'), edit_article_path(@article), class: 'btn btn-primary mr-1' if policy(@article).update? %>
    <%= button_to t('app.button.destroy'), @article, method: 'delete', class: "btn btn-danger mr-1" if policy(@article).destroy? %>
    <%= link_to t('app.button.back'), root_path, class: "btn btn-secondary" %>
  </div>

  <% if @article.comments.present? %>
    <h2 class="mt-3"><%= t '.comments' %></h2>
    <%# Rails renderiza o _comment dentro da pasta views/comments %>
    <%= render @article.comments %>
  <% end %>

  <h3 class="mt-3"><%= t '.add_comment' %></h3>
  <% if policy(:comment).create? %>
    <%= render 'comments/form' %>
  <% else %>
    <p class="mt-3"><%= t 'login_create_comment' %></p>
  <% end %>
</div>