<td id="<%= dom_id category %>" class="p-2">
  <%= category.name %>
</td>
<td class="d-flex p-2">
  <%= link_to t('app.button.edit'), edit_category_path(category), class: 'btn btn-primary m-2' if policy(:category).edit? %>
  <%= link_to t('app.button.destroy'), category, class: 'btn btn-primary m-2', 
    data: { turbo_method: :delete, turbo_confirm: t('app.message.confirm_destroy') } if policy(category).destroy? %>
</td>
