<%# o count pega la do arquivo de tradução, em models o segundo, human é para pegar no arquivo de tradução %>
<h1><%= t(Category.model_name.human(count: 2)) %></h1>

  <p>
    <%= link_to t('categories.new.title', model: Category.model_name.human), new_category_path, class: 'btn btn-primary' if policy(:category).new? %>  
  </p>


<table id="categories" class="talbe table-striped table-hover table-bordered w-100">
  <thead>
    <tr>
      <th class="p-2"><%= t(Category.human_attribute_name('name'))%></th>
      <th class="p-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <%= render category %>
      </tr>
    <% end %>
  </tbody>
</table>
