<% if user_signed_in? %>
  <%= link_to t('app.menu.edit_user'), edit_user_registration_path, class: 'btn' %>&nbsp;&nbsp;
  <%= button_to t('app.menu.sign_out'), destroy_user_session_path, method: :delete, class: 'btn' %>
<% else %>
  <%= link_to t('app.menu.sign_in'), new_user_session_path, class: 'btn' %>
  <%= link_to t('app.menu.sign_up'), new_user_registration_path, class: 'btn' %>&nbsp;&nbsp;
<% end %>