<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <%= link_to t('app.menu.categories'), categories_path, class: "text-muted" if policy(:category).index? %>
      </div>
      <div class="col-4 text-center">
        <%= link_to t('app.title'), root_path, class: "blog-header-logo text-dark" %>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <%= render 'layouts/locale_links' %>
        <%= render 'layouts/account_links' %>
      </div>
    </div>
  </header>

  <%= yield :category_filter %>
</div>